<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/a104e5a0a9.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>

    <header class="main-header">
     <div class="main-header-top-bar">
        
        <img src="/images/logo-mercado-liebre.svg" class="logo">
        <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Compra en cuotas y sin tarjeta de crédito</h2>
     </div>

     <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
     </a>

     <div class="main-header-bottom-bar">
        <ul class="left-navbar">
            <li> <a href="#">Ofertas</a></li>
            <li> <a href="#">Tiendas Oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li> <a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
            <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
     </div>
    </header>
</body>

</html>